* {
    border: 0;
    margin: 0px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(rgba(23, 42, 49, 0.9), rgba(23, 42, 49, 0.9)), url(/images/logo.jpg);
    background-size: cover;
    background-position: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 0;
}



/*-------history of kuramo-----*/


.schoolname {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 1000;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 20px;
}

.container {
    background-size: cover;
    background-position: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    word-wrap: wrap;
    color: white;
    word-spacing: 3px;
    overflow: hidden;
}

p {
    padding: 5px;
    line-height: 25px;
    letter-spacing: 1px;
}

@media (max-width: 670px) {
    .container p{
        text-align: center;
    }
    .schoolname{
        font-size: 1.5rem;
        max-width: 80%;
        margin-left: 10%;
        text-align: center;
    }
}

/* ----- present staff -------*/


.imgcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 30px;
    align-items: center;
    justify-content: center;
  
}
 .imgcontainer div img {
    border-radius: 10px;
}

.imgcontainer .div1{
    margin-top: 20px;
}

.imgcontainer h4 {
   text-align: center;
    color: #5bf6c3;
}
.imgcontainer p {
    max-width: 400px;
    color: #fff;
    margin-bottom: 20px;
}

 img {
    height: 300px;
    width: 400px;
    margin-top: 3rem;
    background-position: center;
    background-size: contain;
    margin-left: 0.5rem;

}

.staff .stafftext {
    text-align: center;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 50px;
}
@media (max-width: 480px) {
    
    .container p{
        width: 97%;
    }
    .imgcontainer p{
        text-align: center;
        margin-left: 0;
        max-width: 84%;
    }
    .imgcontainer h4{
        margin-left: 2rem;
    }

    .imgcontainer p{
        width: 90%;
        margin-left: 1.5rem;
    }

     img{
       margin-top: 1.5rem;
       margin-left: 2rem;
       width: 84%;
       border-radius: 10px;
    }

}




/*------mission and vission-----*/



.mvcontainer{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    margin-top: 3rem;
    color:rgb(0, 0, 0);
    gap: 30px;
    justify-content: center;
    max-width: 90%;
}

.mvcontainer .mission{
    background:#e7f8eb;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    color: rgb(0, 0, 0);
}

.mvcontainer h1 {
    color: rgb(76, 74, 74);
}

.mcontainer  {
    width: 100%;
    height: 30px;
    background-color: rgb(159, 104, 104);
    display: flex;
    flex-direction:row;
    position: relative;
    z-index: 1;
    display: none;
    }

    .mcontainer .red1{
        background-color: rgb(255, 0, 0)e;
        color: white;
        width: 33.3%;
        position: relative;
        z-index: 3;
        
    }

    .mcontainer .blue{
        background-color: rgb(79, 79, 121);
        color: white;
        width: 33.3%;
        position: relative;
        z-index: 3;
        justify-content: flex-end;
        
    }

    .vcontainer {
        width: 100%;
        height: 30px;
        background-color: rgb(159, 104, 104);
        display: flex;
        flex-direction:row;
        position: relative;
        z-index: 1;
        display: none
        }

        .vcontainer .blue {
            background-color:  rgb(79, 79, 121);
            color: white;
            width: 33.3%;
            position: relative;
            z-index: 3;
        }

        .vcontainer .red1{
            background-color: rgb(255, 0, 0)e;
            width: 33.3%;
            
        }
        .vcontainer .red2{
            background-color: rgb(255, 0, 0)e;
            width: 33.3%;
        }



@media (max-width: 660px) {
    .mvcontainer{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mvcontainer .vission{
        max-width: 90%;
        text-align: center;
        margin-left: 2rem;
    }
    .mvcontainer .mission{
        max-width: 90%;
        text-align: center;
        margin-left: 2rem;
    }

    .mission h1{
        display: none;
    }
    
.mcontainer  {
    display: block;
    }

    .mcontainer .blue{
        height: 100%;
    }

    .vcontainer {
        width: 100%;
        display: block;
        }

        .vcontainer .blue {
            height: 100%;
        }



    
}



/*-----  Course ------*/

.course {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    gap: 20px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
p {
    color: "#777";
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    line-height: 1.5rem;
}

.p{
    color: white;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col {
    background: #e7f8eb;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 20px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
    width: 40%;
    text-align: left;
    word-spacing: 2%;

}
.course-col h3{
font-size: 2rem;
}
.course-col:hover{
    background-color: #4e685f;
    color: white;
    font-weight: 700;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width:670px) {
    .row {
        flex-direction: column;
    }
    .course-col{
        width: 90%;
        text-align: center;
    }

 }

/*----- footer ------*/


footer {
    padding-top: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: rgb(5, 22, 11);
    width: 100%;
    color: #dcf3e2;
    margin-bottom: 0;
    padding-bottom: 0px;
    display: block;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

  i{
    position: flex-end;
    margin-top: 20px;
}

.dcontainer{
    display: flex;
    flex-direction:row;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}

.dcontainer a {
    text-decoration: none;
}
.dcontainer a h6{
    padding: 5px;
    color: white;
}


/** java script**/
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav h2 {
    color: rgb(255, 255, 255);
}
.nav a{
    text-decoration: none;
    text-decoration-style: solid;
    text-decoration-color: rgb(1, 128, 37);

}
nav a img {
    height: 5em;
    border-start-end-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    position: fixed;
    z-index: 3;
}

@media (max-width: 670px) {
    nav a img {
        height: 3rem;
    }
}


.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-style: 13px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: green;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}


