*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: rgb(61, 83, 64);
    color: white;
}

.facilities .oura{
    font-weight: 700;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
}

.container{
    background-image: url();
}

.facilities {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;

}

.facilities img{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30rem;
    border-radius: 10px;
    margin-top: 30px;
   align-self: center;
   justify-self: center;
}

p {
    margin-top: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 18px;
}

activitie-col h3{
    color: blue;
    font-size: 2rem;
}

@media (max-width: 670px) {
   img {
        height: 30rem;
        border-radius: 10px;
        }

        p {
            text-align: center;
        }
        h1, h3 {
            text-align: center;
        }
}

/***footer**/

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: rgb(5, 22, 11);
    width: 100%;
    color: #dcf3e2;
    line-height: 1rem;
    letter-spacing: .2rem;
    margin-top: 30px;
}
footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa-brands {
    margin: 0 13px;
    cursor: pointer;
    padding: 15px 0;
}

 .footer small i{
    margin-top: 5rem;
}