* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: auto;
    background-color: grey;
    font-family: 'Poppins', sans-serif;

}

.container {
    margin: auto;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.leftdiv {
    height: 110vh;
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 100%;
    color: white;
    background-color: #05160b;
    position: relative;
    padding-bottom: 0px;
}


.leftdiv .margin {
    margin-left: 20px;
    margin-top: 50px;
}

.leftdiv .margin .icons {
    align-items: center;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 45%;
}

.leftdiv .margin .fa {
    padding: 10px;
}

.leftdiv .icons .fa-brands {
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.leftdiv .margin h3 {
    margin-top: 20px;
    margin-left: 0px;
}

.rightdiv {
    height: 110vh;
    width: 70%;
    margin-top: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font: inherit;
    font-size: 100%;
    background-color: white;
    padding-bottom: 0px;   
}

.margin {
    margin-left: 15%;
    margin-top: 25px;
}

.rightdiv .margin h6 {
    margin-top: 20px;
}


.rightdiv .margin .im {
    width: 80%;
    height: 20px;
    padding-left: 5px;
    border-radius: 5px;
    margin-top: 5px;
}


.box {
    margin-top: 20px;
    height: 30px;
    width: 85%;
    padding-top: 5px;
    background-color:#05160b;
    color: white;
    border-radius: 5px;
    text-align: center;

}

.classcol {
    display: flex;
    flex-direction: column;
    border: none;
}

.submit{
    color: rgb(18, 53, 18);
    margin-top: 20px;
    margin-bottom: 0;
    width: 20%;
}

.service{
    margin-top: 30px;
}

@media (max-width: 480px) {
    .leftdiv{
        display: none;
    }
    .rightdiv{
        width: 100%;
    }

    .margin .cons {
        position: left end;
        margin-left: -100px;
    }
  .leftdiv{
    display: none;
   }
}

    .leftdiv .icons {
        padding-top: 0px;
        position: relative;
        margin-top: -200px;
    }


    small {
        display: none;
    }

    .classco2 {
        display: none;
    }

    .classcol {
        display: none;
    }

    .tc {
        margin-top: 2rem;
        display: block;
        border: none;
    }
    .box {
        margin-bottom: 0px;
        justify-content: fl;
    }

    p{
        font-size: 14px;
    }