* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: auto;
    background-color: grey;
    font-family: 'Poppins', sans-serif;

}

.container {
    margin: auto;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.leftdiv {
    height: 100vh;
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    font-size: 100%;
    color: white;
    background-color: rgb(10, 87, 13);
    position: relative;
}

.leftdiv .margin {
    margin-left: 20px;
    margin-top: 50px;
}

.leftdiv .dotcon {
    padding: 10px;
}

.leftdiv .margin .icons {
    align-items: center;
    margin-left: 0px;
    margin-top: 30px;
}

.leftdiv .margin .fa {
    padding: 10px;
}

.leftdiv .icons .fa-brands {
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.leftdiv .margin h3 {
    margin-top: 20px;
}

.rightdiv {
    height: 100vh;
    width: 70%;
    margin-top: 50px;
    border-radius: 10px;
    font: inherit;
    font-size: 100%;
    background-color: white;
}

.margin {
    margin-left: 15%;
    margin-top: 12%;
}

.rightdiv .margin h6 {
    margin-top: 20px;
}

.rightdiv .margin input {
    width: 80%;
    height: 20px;
    padding-left: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

.buttuncon1 {
    position: absolute;
    margin-left: -4%;
}

.buttuncon1 small {
    margin-left: -5px;
}

.buttuncon2 {
    margin-left: 40px;
}

.buttuncon2 small {
    margin-left: -110px;
}

.box {
    margin-top: 30px;
    height: 30px;
    width: 85%;
    padding-top: 5px;
    background-color: rgb(10, 87, 13);
    color: white;
    border-radius: 5px;
    text-align: center;

}




@media (max-width: 700px) {

    .margin .cons {
        position: left end;
        margin-left: -100px;
    }
    
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .leftdiv {
        margin-top: 0px;
        width: 90%;
        height: 100vh;
        padding-bottom: 0px;
        text-align: center;
        justify-content: center;
        font-size: 1.2rem;
        padding: 0px;
        height: 90vh;
        position: relative;
    }

    .leftdiv .icons {
        padding-top: 0px;
        position: relative;
        margin-top: -200px;
    }

    .rightdiv {
        margin-top: -50px;
        width: 90%;
        height: 100vh;
        border-radius-bottom: 0px;
    }
}

